* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background: url(./img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    min-height: 100vh;
 
}

.container {
    text-align: center;
    margin-top: 5%;
}

.drums {
    display: inline-block;
    padding: 50px;
    border: 5px solid black;
    background-color: white;
}

.kick, .snare, .hihat {
    padding: 5px;
}

.slider {
    text-align: center;
    background-color: white;
    border: 5px solid black;
    padding: 5px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 10px 10px 10px 10px;
    -webkit-appearance: none;
	background-color: rgb(219, 40, 40);
	border: 1px solid black;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

input[type=checkbox]:checked {
    background-color: rgb(59, 161, 59);
	border: 1px solid black;
	color: #99a1a7;
}
#bpm {
    width: 100px;
}

h1 {
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    font-family: monospace;
    font-size: 4rem;
}

h4 {
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    font-family: monospace;
    font-size: 1.25rem;
}
.playpause {
    text-align: center;
    padding: 10px;
    
}

.playbtn {
    text-align: center;
    display:inline-block;
    
    width: 5rem;
    height: 2rem;
    border: 3px solid black;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.electro, .rock, .hiphop {
    display: inline-block;
    padding: 0px 50px;
}

.check1, .check2, .check3 {
    width: 40px;
}

h5 {
    color: black;
    font-size: 1rem;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    font-family: monospace;
    
}

@media screen and (max-width: 500px) {
       .drums {
         padding: 10px;
       }
       .electro, .rock, .hiphop {
        padding: 0px 10px;
    }
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 405px) {
    .drums {
      padding: 0px;
    }
    .electro, .rock, .hiphop {
        padding: 0px 5px;
    }
    h1 {
        font-size: 2.5rem;
    }
}

